.center{
	margin-left:45%;
}
.pole{
	margin-top: 3%;
}
.btn{
	margin-left:3%;
	margin-top: 3%;
}
h1{
		margin-top: 50px;
	text-align: center;
	font-family: "Mistral";
	font-size: 60pt;
	margin-bottom: 30px;
}
.pole1{
	margin-top: 3%;
	width: 1000px;
}